.input-price{
    outline: none;
}

.price{
    font-size: 12px;
    padding: 0px 5px;
    border: 1px solid grey;
    border-radius: 20px;
    display: inline-block;

}

.input-price:focus {
    border: 2px solid green;
}

.input-error{
 border: 2px solid red;
}

.delete-button {
    padding: 0px 6px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 50%;
    }