body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

:root{
    --color1:#faaf40;
    --color2:#ffffff;
}

.section {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("../image/background.png");
    width: 1366px;
    height: 768px;

}

.header {
    height: 45px;
    width: 1065px;
    color: var(--color2);
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

.container{
    width: 55px;
    height: 22px;
    background: rgba(255,255,255,.4);
    border: 2px solid #fff;
    border-radius: 18px;
    position: absolute;
    right: 51px;
    top: 20px;
}
.item{
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left .5s ease-out;
    background-color: var(--color1);
}
@keyframes move{
     0% {
         width:6px;
         height:16px;
         top:3px;
     }
     30% {
         width:16px;
         height:6px;
         top:8px;
     }
     100% {
         width:6px;
         height:16px;
         top:3px;
     }
 }
@keyframes moveL{
    0% {
        width:6px;
        height:16px;
        top:3px;
    }
    40% {
        width:26px;
        height:6px;
        top:8px;
    }
    100% {
        width:6px;
        height:16px;
        top:3px;
    }
}

/* .center {
    position: absolute;

    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"] {
    width: 100px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
  }
  input:checked[type="checkbox"] {
    background: #02a9f4;
  }
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.5s;
  }
  input:checked[type="checkbox"]::before {
    left: 50px;
  } */

.header-logo {
    float: left;
    display: flex;
}

.header-logo-icon {
    background-image: url("../image/logo.png");
    margin-right: 15px;
    height: 44px;
    width: 46px;
}

.header-logo-heading {
    width: 110px;
}

.header-logo-heading-milan {
    font-size: 29px;
    text-decoration: none;
    color: var(--color2);
}

.header-logo-heading-holidays {
    text-decoration: none;
    color: var(--color2);
}

.header-link {
    float: right;
}

.header-link-description {
    text-decoration: none;
    color: var(--color2);
}

.header-link-description:hover,
.main-content-description:hover {
    color: var(--color1);
}

.header-logo-heading:hover .header-logo-heading-milan {
    color: var(--color1);
}

.header-logo-heading:hover .header-logo-heading-holidays {
    color: var(--color1);
}


.main {
    width: 1065px;
    margin: 0 auto;
    position: relative;
}

.main-content {
    width: 307px;
    margin-right: 72px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-content-description {
    margin: 22px auto 50px;
    text-align: center;
    text-decoration: none;
    color: var(--color2);
}

.main-content-last {
    width: 307px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-content-img{
    border: 2px solid var(--color2);
}

.main-content-price {
    width: 310px;
    height: 65px;
    background-color: var(--color1);
    position: absolute;
    top: 138px;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content:hover .main-content-price {
    visibility: visible;
    transition: 0.3s;
}

.main-content:hover .main-content-description {
    color: var(--color1);
}

.main-content:hover .main-content-img{
    border: 2px solid var(--color1);
}

.main-content-last:hover .main-content-price {
    visibility: visible;
    transition: 0.3s;
}

.main-content-last:hover .main-content-description {
    color: var(--color1);
}

.main-content-last:hover .main-content-img{
    border: 2px solid var(--color1);
}

.main-content-price-left{
    color: var(--color2);
}

.main-content-price-left-from{
    font-size: 10px;
}

.main-content-price-left-euro{
    font-size: 20px;
}

.main-content-price-right-details{
    font-size: 14px;
    text-decoration: none;
    color: var(--color2);
}

.main-content-price-right-details::after{
    position: absolute;
    content: "\276D";
    font-size: 16px;
    top: 24px;
    right: 33px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: var(--color2);
}
